@mixin black-white-btn {
  margin: 38px 30px;
  padding: 15px 50px;
  display: block;
  font-size: 18px;
  font-family: $font-open-sans-bold;
  line-height: 16px;
  color: $font-color-black;
  text-transform: uppercase;
  border: 2px solid $font-color-grey;
  text-decoration: none;
}

@mixin title-h2 {
  font-family: $font-open-sans-bold;
  color: $font-color-black;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin mobile-widths {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 9.38%;
}

@mixin tablet-widths {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 6.51%;
}

@mixin desktop-widths {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 4.35%;
}

