@import "../global/variables.scss";
@import "../global/mixins.scss";

.contacts {
  padding: 30px 45px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: $font-color-grey;

  h2 {
    @include title-h2;
  }
  &__write {
    @include black-white-btn;
  }
}
