.form__text, .form__type, .form__color, .form__data, .form__contact-tel, .form__contact-mail, .form__add  {
  display: flex;
}
.form__type{
  width: 100%;
}
.form__type label:hover:before {
   border-color: #62d1ba;
}
.form__type label:active:before {
  border-color: #cbcbcb;
}
.form input, label {
  display: flex;
  margin-bottom: 25px;
  font-family: $font-open-sans-bold;
  outline: none;
  line-height: 44px;
}
.form__color label {
  vertical-align: top;
  display: inline-flex;
}
.form [type="checkbox"], .form [type="radio"] {
  display: none;
}
label {
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

.form__type label:before {
  display: inline-flex;
  content: "";
  width: 50px;
  height: 50px;
  margin-right: 27px;
  background-color: #ffffff;
  border: 2px solid $font-color-grey;
  border-radius: 50%;
}
.form__color label:before {
  display: inline-flex;
  content: "";
  width: 50px;
  height: 50px;
  margin-right: 27px;
  background-color: #f1f1f1;
  border: 2px solid $font-color-grey;
}
.form__color label:hover:before {
  border-color: #62d1ba;
}
.form__color label:active:before {
  border-color: #cbcbcb;
}
.form__type input[type=radio]:checked + label:before {
  display: block;
  content: "\2022";
  color: #62d1ba;
  font-size: 82px;
  text-align: center;
  line-height: 42px;
}
.form input[placeholder], .form__add textarea  {
  font-family: $font-open-sans;
  padding: 15px;
  font-size: 19px;
  line-height: 18px;
}
.form__color input[type=checkbox]:checked + label:before {
  background: url(/img/icon-tick.svg) no-repeat 50%;
  font-size: 15px;
  text-align: center;
  line-height: 15px;
}
.form__data label {
  display: flex;
  width: 100%;
  height: 40px;
}
.form__data input, .form__contact-tel input, .form__contact-mail input {
  width: 100%;
  margin-left: 25px;
  border: none;
  border-bottom: 2px solid #000000;
}
.form__data input:focus, .form__contact-tel input:focus, .form__contact-mail input:focus {
  border-color: #62d1ba;
}
.form__contact-tel input {
  background: url(/img/icon-phone.svg) no-repeat $bg-grey right;
}
.form__contact-mail input {
  background: url(/img/icon-mail.svg) no-repeat $bg-grey right;
}
.form__data-required {
    color: $font-color-grey;
}
.form__send {
    @include black-white-btn;
    text-transform: uppercase;
}
.form__send:hover {
  @include black-white-btn-hover;
}
.form__send:active {
  @include black-white-btn-down ;
}
.form__text {
  color: $font-color-grey;
}
.form  h2 {
  color: $turquoise;
  text-transform: uppercase;
}
.form__contact--content {
  width: 100%;
  background: $bg-grey;
}

@media (min-width: 1151px) {
  .form__text {
    width: 700px;
    margin: 145px auto 45px;
    font-size: 17px;
    line-height: 30px;
  }
  .form h2 {
    width: 175px;
    font-size: 17px;
    vertical-align: top;
  }
  .form__detail {
    width: 770px;
  }
  .form__type  {
    @include desktop-widths;
    padding-top: 75px;
    height: 178px;
  }
  .form__color {
    @include desktop-widths;
    padding-top: 75px;
  }
  .form__color label {
    width: 27%;
  }
  .form__data {
    @include desktop-widths;
    padding-top: 75px;
  }
  .form__contact-tel, .form__contact-mail {
    @include desktop-widths;
    padding-top: 75px;
  }
  .form__add {
    @include desktop-widths;
    flex-wrap: wrap;
    padding-top: 75px;
  }
  .form__add textarea {
    width: 700px;
    height: 138px;
    margin-bottom: 80px;
    border-color: #000000;
  }
  .form input, label {
    font-size: 19px;
  }
  .form__add input, label {
    height: auto;
  }
  .form__send {
    margin-top: -32px;
    margin-bottom: 70px;
    margin-left: 175px;
    order: 2;
  }
  .form__data-required {
    justify-content: flex-end;
    width: 100%;
    display: inline-flex;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .form__text {
    width: 700px;
    margin: 145px auto 45px;
    font-size: 17px;
    line-height: 30px;
  }
  .form h2 {
    width: 162px;
    font-size: 17px;
    vertical-align: top;
  }
  .form__detail {
    width: 500px;
  }
  .form__type  {
    @include tablet-widths;
    height: 178px;
  }
  .form__color {
    @include tablet-widths;
    padding-top: 75px;
  }
  .form__data {
    @include tablet-widths;
    padding-top: 75px;
  }
  .form__contact-tel, .form__contact-mail {
    @include  tablet-widths;;
    padding-top: 75px;
  }
  .form__add {
    @include tablet-widths;
    flex-wrap: wrap;
    padding-top: 75px;
  }
  .form__add textarea {
    width: 500px;
    height: 138px;
    margin-bottom: 80px;
    border-color: #000000;
    order: 1;
  }
  .form input, label {
    font-size: 19px;
  }
  .form__color label {
    width: 41%;
  }
  .form__add input, label {
    height: auto;
  }
  .form__send {
    margin-top: -36px;
    margin-bottom: 70px;
    order: 2;
  }
  .form__data-required {
    justify-content: flex-end;
    width: 100%;
    display: inline-flex;
    font-size: 17px;
    line-height: 30px;
    order: 3;
  }
}

@media (min-width: 320px) and (max-width: 767px)  {
  .form__text, .form__type, .form__color, .form__data, .form__contact-tel, .form__contact-mail, .form__add {
    display: inherit;
    background-color: #ffffff;
  }
  .form__text {
    max-width: 260px;
    margin: 30px auto 30px;
    font-size: 13px;
    line-height: 24px;
  }
  .form h2 {
    width: 162px;
    margin-bottom: 20px;
    font-size: 17px;
    vertical-align: top;
  }
  .form__detail {
    display: flex;
    flex-direction: column;
  }
  .form__type  {
    @include mobile-widths;
    padding-top: 25px;
    height: 178px;
  }
  .form__type span {
    width: 200px;
    line-height: 20px;
  }
  .form__color {
    @include mobile-widths;
    padding-top: 25px;
  }
  .form__color label:before {
    background-color: #ffffff;
  }
  .form__data {
    @include mobile-widths;
    padding-top: 25px;
  }
  .form__data label {
    flex-wrap: wrap;
    height: auto;
  }
  .form__contact-tel, .form__contact-mail {
    @include  mobile-widths;
    padding-top: 25px;
  }
  .form__add {
    @include mobile-widths;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
  }
  .form__add textarea {
    width: 100%;
    height: 138px;
    border-color: #000000;
    order: 1;
  }
  .form input, label {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    font-size: 17px;
    line-height: 18px;
    background-color: #ffffff;
  }
  .form__add input, label {
    height: auto;
    line-height: 47px;
  }
  .form__add h2 {
    order: 1;
  }
  .form__add .form__detail {
    order: 2;
  }
  .form__send {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 70px;
    padding: 15px 20px;
    order: 3;
  }
  .form__data-required {
    justify-content: flex-end;
    width: 100%;
    display: inline-flex;
    font-size: 14px;
    line-height: 5px;
  }
}

