.modal-shadow {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #ffffff;
  z-index: 1;
}
.modal {
  position: fixed;
  top:50%;
  left:50%;
  display: flex;
  flex-wrap: wrap;
  width: 567px;
  height: 339px;
  padding: 0 105px;
  box-sizing: border-box;
  font-family: $font-open-sans;
  border: 1px solid #c6c6c6;
  text-align: center;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  transform:  translate(-50%,-50%);
  -webkit-transform:  translate(-50%,-50%);
  -moz-transform:  translate(-50%,-50%);
  -o-transform:  translate(-50%,-50%);
  -ms-transform:  translate(-50%,-50%);
  z-index: 2;
}
.modal__title {
  margin-bottom: -5px;
  padding: 45px 0 0;
  width: 100%;
  font-family: $font-open-sans-bold;
  text-transform: uppercase;
  font-size: 30px;
}
.modal__subtitle {
  width: 100%;
  color: $font-color-grey;
}

.modal__list {
  label {
    height: 50px;
    line-height: 50px;
    font-family: $font-open-sans-bold;
    font-size: 17px;
    border: 2px solid #ececec;
    padding: 15px 49px;
  }
  input[type="radio"] {
    display: none;
  }
}
.modal__button {
  margin-top: 25px;
  padding: 20px 0;
  text-transform: uppercase;
  width: 100%;
  background: $turquoise;
  font-family: $font-open-sans-bold;
  color: #ffffff;
  font-size: 17px;
  line-height: 16px;
  border: none;
}
.element-invisible {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .modal {
    width: 100%;
    height: 339px;
    padding: 0 105px;
    box-sizing: border-box;
  }
  .modal__title {
    padding: 35px 60px 30px;
    font-size: 25px;
    line-height: 30px;
  }
  .modal__subtitle {
    padding-bottom: 25px;
  }
  .modal__list label {
    width: 110px;
    height: 50px;
    padding: 15px 44px;
    line-height: 50px;
  }
  .modal__button {
    width: 80%;
    margin: 25px auto;
  }
}
