.page-subsections {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 19px;
  line-height: 24px;

  &__interior {
    background: $turquoise;
  }
  &__interior a {
    color: #ffffff;
  }
}

.page-subsections__toys {
  background: $dark-turquoise;
}
.page-subsections__toys a {
  color: #ffffff;
}
