.page-header {
  margin: 0 auto;
  font-family: $font-open-sans;
  background: url(/img/hero-mobile@1x.jpg) no-repeat $bg-grey center bottom;

  h1 {
    font-family: $font-open-sans-bold;
    text-align: center;
  }
}
.page-header__logo {
  display: inline-block;
}
.page-header__nav {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e7e7;
}
.page-header__list {
  display: inline-block;
  list-style: none;
}
.page-header__list li {
  display: inline-block;
}
.page-header__list li a {
  display: inline-block;
  text-decoration: none;
  font-family: $font-open-sans-bold;
  color: $font-color-black;
  font-size: 17px;
  line-height: 24px;
}


@media (min-width: 1151px) {
  .page-header {
    height: 716px;
  }
  .page-header__nav {
    @include desktop-widths;
    height: 90px;
  }
  .page-header__list--find {
    display: none;
  }
  .page-header h1 {
    width: 700px;
    margin: 115px auto 0;
    font-size: 53px;
    line-height: 57px;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .page-header {
    height: 627px;
  }
  .page-header__nav {
    @include tablet-widths;
    height: 88px;
  }
  .page-header__list--find {
    display: none;
  }
  .page-header h1 {
    width: 700px;
    margin: 115px auto 0;
    font-size: 53px;
    line-height: 57px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-header {
    height: 362px;
  }
  .page-header__logo {
    text-align: center;
  }
  .page-header__nav {
    @include mobile-widths;
    height: 80px;
    text-align: center;
    line-height: 80px;
  }
  .page-header__list {
    display: none;
  }
  .page-header__list li {
    display: block;
    font-size: 17px;
    line-height: 24px;
  }
  h1 {
    width: 260px;
    margin: 0 auto;
    padding-top: 70px;
    font-size: 27px;
    line-height: 30px;
  }
}

