.page-feedback {
  font-family: $font-open-sans;
  color: $font-color-grey;
  background: url(/img/review@1x.jpg) no-repeat;

  h2 {
    @include title-h2;
  }
  &__author-name {
    display: block;
    color: $font-color-black;
    font-family: $font-open-sans-bold;
  }
  &__write {
    @include black-white-btn;
  }
}

@media (min-width: 1151px) {
  .page-feedback {
    @include desktop-widths;
    position: relative;
    background-position-x: 4.35%;
    padding: 0 calc(4.35% + 175px) 100px;
  }
  .page-feedback h2 {
    padding: 70px 0 50px;
    font-size: 53px;
    line-height: 57px;
  }
  .page-feedback__text {
    font-size: 17px;
    line-height: 30px;
  }
  .page-feedback__write {
    position: absolute;
    right: 26px;
    top: 46px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .page-feedback {
    @include tablet-widths;
    padding-bottom: 55px;
    position: relative;
  }
  .page-feedback h2 {
    padding: 70px 0 50px;
    font-size: 43px;
    line-height: 50px;
  }
  .page-feedback__text {
    font-size: 17px;
    line-height: 30px;
  }
  .page-feedback__write {
    position: absolute;
    right: 26px;
    top: 46px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-feedback {
    @include mobile-widths;
    padding-bottom: 55px;
    background: none;
  }
  .page-feedback h2 {
    font-size: 25px;
  }
  .page-feedback__text {
    font-size: 15px;
    line-height: 30px;
  }
  .page-feedback__author-name {
    padding-top: 30px;
    font-size: 18px;
    line-height: 24px;
  }
  .page-feedback__author-nick {
    font-size: 18px;
    line-height: 30px;
  }
  .page-feedback__write {
    text-align: center;
  }
}
