.page-feedback {
  display: flex;
  flex-wrap: wrap;
  font-family: $font-open-sans;
  color: $font-color-grey;
  background: url(/img/review@1x.jpg) no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url(/img/review@2x.jpg) no-repeat;
  }
}
.page-feedback h2 {
  @include title-h2;
}
.page-feedback__author-name {
  display: flex;
  color: $font-color-black;
  font-family: $font-open-sans-bold;
}
.page-feedback__author-nick {
  display: inline-flex;
}
.page-feedback__write {
  @include black-white-btn;
}
.page-feedback__write:hover {
  @include black-white-btn-hover;
}
.page-feedback__write:active {
  @include black-white-btn-down;
}
.feedback__navs {
  display: inline-flex;
  width: 84%;
  order: 4;
  justify-content: flex-end;
}
.feedback__nav--left,.feedback__nav--right {
  display: inline-flex;
  margin-left: 37px;
}

@media (min-width: 1151px) {
  .page-feedback {
    @include desktop-widths;
    margin-bottom: 80px;
    padding-bottom: 100px;
    padding-left: 175px;
    background-position-x: 4.35%;
    box-sizing: border-box;
  }
  .page-feedback h2 {
    flex-grow: 1;
    padding: 70px 0 50px;
    font-size: 53px;
    line-height: 57px;
    order: 1;
  }
  .page-feedback__text {
    font-size: 17px;
    line-height: 30px;
    order: 3;
  }
  .page-feedback__write {
    height: 17px;
    margin-top: 70px;
    order: 2;
  }
  .page-feedback__author-name {
    padding-top: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .page-feedback {
    @include tablet-widths;
    padding-bottom: 55px;
  }
  .page-feedback h2 {
    flex-grow: 1;
    padding: 70px 0 50px;
    font-size: 43px;
    line-height: 50px;
    order: 1;
  }
  .page-feedback__text {
    font-size: 17px;
    line-height: 30px;
    order: 3;
  }
  .page-feedback__write {
    height: 17px;
    margin-top: 70px;
    order: 2;
  }
  .page-feedback__author-name {
    padding-top: 50px;
  }
  .feedback__navs {
    width: 77%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-feedback {
    @include mobile-widths;
    padding-bottom: 55px;
    background: none;
  }
  .page-feedback h2 {
    padding: 35px 0;
    font-size: 25px;
  }
  .page-feedback__text {
    font-size: 15px;
    line-height: 30px;
  }
  .page-feedback__author-name {
    padding-top: 30px;
    font-size: 18px;
    line-height: 24px;
  }
  .page-feedback__author-nick {
    font-size: 18px;
    line-height: 30px;
  }
  .page-feedback__write {
    width: 100%;
    margin-top: 40px;
    text-align: center;
  }
  .feedback__navs {
    width: 100%;
    height: 46px;
    margin-top: 30px;
    justify-content: space-around;
  }
  .feedback__nav--left,.feedback__nav--right {
    width: 50%;
    margin-left: 0;
    padding: 5px;
    border: 1px solid #ececec;
  }
  .feedback__nav--left img,.feedback__nav--right img {
    width: 100%;
    height: 27px;
    padding-top: 3px;
  }
}
