.production {
  position: relative;
  display: flex;
}
.production__video {
  position: relative;
}
.production__video::before {
  position: absolute;
  content: "";
  background: url(/img/icon-play.svg) no-repeat;
  width: 101px;
  height: 77px;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
}
.production__title {
  display: flex;
  font-family: $font-open-sans-bold;
}
.production__detail {
  border: 1px solid #ececec;
}
.production__text {
  font-family: $font-open-sans;
  color: $font-color-grey;
}
.production__order {
  display: flex;
  @include black-white-btn;
  text-align: center;
}
.production__order:hover {
  @include black-white-btn-hover;
}
.production__order:active {
  @include black-white-btn-down;
}
@media (min-width: 1151px) {
  .production {
    @include desktop-widths;
    margin-bottom: 100px;
    height: 458px;
  }
  .production__video {
    width: 682px;
  }
  .production__detail {
    width: 368px;
    padding: 40px 45px 0 70px;
    box-sizing: border-box;
  }
  .product__icon {
    margin-bottom: 30px;
  }
  .production__title {
    padding-bottom: 45px;
    font-size: 20px;
    line-height: 24px;
  }
  .production__text {
    font-size: 15px;
    line-height: 30px;
  }
  .production__order {
    justify-content: center;
    padding: 15px;
    margin-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .production {
    @include tablet-widths;
    flex-wrap: wrap;
    height: 750px;
    width: 668px;
  }
  .production__video {
    width: 100%;
  }
  .production__detail {
    padding: 50px 50px 0 50px;
    height: 275px;
  }
  .product__icon {
    margin: 0 30px 30px 0;
  }
  .production__title {
    padding-top: 6px;
    font-size: 20px;
    line-height: 24px;
    display: inline-flex;
    vertical-align: top;
  }
  .production__text {
    font-size: 15px;
    line-height: 30px;
  }
  .production__order {
    justify-content: center;
    margin-top: 50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .production {
    flex-wrap: wrap;
    @include mobile-widths;
  }
  .production__video {
    width: 100%;
  }
  .production__detail {
    padding: 30px;
  }
  .product__icon {
    margin: 0 15px 30px 0;
  }
  .production__title {
    width: 100px;
    font-size: 20px;
    line-height: 24px;
    display: inline-flex;
    vertical-align: top;
  }
  .production__text  {
    font-size: 13px;
    line-height: 24px;
  }
  .production__title {
    font-size: 17px;
    line-height: 24px;
  }
  .production__order {
    margin: 27px 0;
    font-size: 17px;
    line-height: 16px;
  }
}
