.product-week {
  font-family: $font-open-sans;
  color: $font-color-grey;
  display: flex;
}
.product-week__price {
  display: block;
  text-align: center;
  font-family: $font-open-sans-bold;
}
.product-week__title {
  @include title-h2;
  color: $font-color-black;
}
.product-week__subtitle {
  font-family: $font-open-sans-bold;
  color: $turquoise;
  text-transform: uppercase;
  text-align: center;
}
.product-week__order {
  @include black-white-btn;
}
.product-week__order:hover {
  @include black-white-btn-hover;
}
.product-week__order:active {
  @include black-white-btn-down;
}

@media (min-width: 1151px) {
    .product-week {
      @include desktop-widths;
      position: relative;
      margin: 54px auto 73px;
    }
    .product-week__detail {
      width: 700px;
      z-index: 1;
    }
    .product-week__title {
      width: 100%;
      padding: 53px 0 49px;
      font-size: 53px;
      line-height: 57px;
    }
   .product-week__subtitle {
     width: 172px;
     padding: 68px 53px 0 45px;
     vertical-align: top;
     box-sizing: border-box;
     line-height: 16px;
    }
  .product-week__description {
    width: 292px;
    padding-left: 5px;
    font-size: 17px;
    line-height: 30px;
  }
  .product-week__table-size {
    margin-top: 44px;
    font-size: 15px;
    line-height: 19px;
  }
  .product-week__table-size td {
    height: 40px;
    margin-right: 20px;
    padding-right: 30px;
  }
  .product-week_image {
    position: absolute;
    right: 5.5%;
    top: 0;
    height: 100%;
    z-index: -1;
  }
  .product-week__price {
    margin-top: 102px;
    margin-bottom: 33px;
    font-size: 20px;
    width: 310px;
  }
  .product-week__order {
    display: block;
    width: 189px;
    text-align: center;
    margin-left: 3px;
    padding-top: 17px;
    padding-left: 55px;
    padding-right: 45px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .product-week {
    @include tablet-widths;
    padding: 0 5.51%;
    margin: -27px auto 54px;
    position: relative;
  }
  .product-week__detail {
    width: 668px;
  }
  .product-week__title {
    width: 100%;
    padding: 55px 0 49px;
    text-align: left;
    font-size: 43px;
    line-height: 50px;
    order: 1;
  }
  .product-week__subtitle {
    width: 100px;
    padding-top: 64px;
    vertical-align: top;
    order: 2;
  }
  .product-week__description {
    width: 294px;
    font-size: 17px;
    line-height: 30px;
  }
  .product-week picture {
    position: absolute;
    right: 55px;
    top: 163px;

  }
  .product-week__table-size {
    margin-top: 32px;
  }
  .product-week__table-size td {
    height: 40px;
    margin-right: 20px;
    padding-right: 30px;
  }
  .product-week_image {
    width: 334px;
    height: 400px;
  }
  .product-week__price {
    margin-top: 50px;
    margin-bottom: 33px;
    font-size: 20px;
    width: 300px;
  }
  .product-week__order {
    display: block;
    width: 189px;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .product-week {
    @include mobile-widths;
    flex-direction: column;
    max-width: 100%;
  }
  .product-week__title {
    position: relative;
    width: 100%;
    padding: 55px 0;
    text-align: left;
    font-size: 25px;
    line-height: 30px;
    order: 1;
  }
  .product-week__subtitle {
    position: absolute;
    padding-top: 90px;
    text-align: left;
  }
  .product-week__description {
    font-size: 17px;
    line-height: 30px;
  }
  .product-week__table-size {
    margin-top: 30px;
  }
  .product-week__table-size td {
    height: 25px;
    margin-right: 20px;
    padding-right: 30px;
  }
  .product-week_image {
    margin-top: 30px;
    width: 100%;
  }
  .product-week__price {
    margin-top: 25px;
    margin-bottom: 33px;
    font-size: 17px;
    line-height: 24px;
  }
  .product-week__order {
    display: block;
    text-align: center;
  }
}
